" you can find a list of commands here: https://jb.gg/h38q75
" find more examples here: https://jb.gg/share-ideavimrc
source ~/.vimrc
nnoremap <space>r viw"0y:%s/<c-r>0//gI<left><left><left>
vnoremap <space>r "0y:%s/<c-r>0//gI<left><left><left>
vnoremap // "0y/\V<c-r>0<cr>
nnoremap <space>y "+y
vnoremap <space>y "+y
nnoremap <space>p "+p
nnoremap <space>P "+P
vnoremap <space>p "+p
set ideastatusicon=gray
set ideawrite=file
set visualdelay=50
set ideajoin
set ideamarks
" enable ideavim plugins https://jb.gg/ideavim-plugins
set highlightedyank
set commentary
set surround
" map ide actions to ideavim -- https://jb.gg/abva4t
nmap <space>ff <Action>(GotoFile)
nmap <space>fw viw:action GotoFile<CR>
nmap <space>e <Action>(ShowNavBar)
nmap <space>b <Action>(RecentFiles)
nmap <space>gg <Action>(FindInPath)
vmap <space>gg <Action>(FindInPath)
nmap <space>gw viw:action FindInPath<CR>
nmap <space>/ <Action>(SearchEverywhere)
nmap - <Action>(SelectInProjectView)
nmap gd <Action>(GotoDeclaration)
nmap gri <Action>(GotoImplementation)
nmap grr <Action>(FindUsages)
nmap gra <Action>(GotoAction)
nmap grn <Action>(RenameElement)
nmap gq <Action>(ReformatCode)
vmap gq <Action>(ReformatCode)
nmap ]d <Action>(GotoNextError)zz
nmap [d <Action>(GotoPreviousError)zz
nmap K <Action>(ShowHoverInfo)
nmap <c-w>o <Action>(HideAllWindows)
